#game-board{
    height: 300px;
    width: 350px;
    background-color: darkblue;
    border: solid 5px black;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}
.game-buttons{
    width: 350px;
    margin: 0 auto;
    display: flex;
}
.hidden{
    display: none;
    visibility: none;
}
.place-piece-button{
    background-color: white;
    border: none;
    width: 50px;
    height: 49px;
    margin: none;
    padding: none;
    border-radius: 50%;

}
.red:hover{
    background: red;
}
.yellow:hover{
    background: yellow;
}
.tile{
    background-color: white;
    height: 16%;
    width: 14%;
    margin: 0 auto;
    border-radius: 50%;
    
}
