#game-board{
    height: 300px;
    width: 350px;
    background-color: darkblue;
    border: solid 5px black;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}
.tile{
    background-color: white;
    height: 16%;
    width: 14%;
    margin: 0 auto;
    border-radius: 50%;
    
}