
@import url('https://fonts.cdnfonts.com/css/copperplate');             
body{
    background-color: #666666;
    font-family: "Copperplate", sans-serif;
    color: white;
    text-align: center;
}
header{
    margin: 20% auto 0 auto;
}
h1{
    margin: 0 auto;
    font-size: 6vw;
}
#game-message{
    border: solid 1px black;
    width: 40%;
    margin: 0 auto;
    font-size: 2.5vw;
}
.game-board{
    aspect-ratio: 7 / 6;
    width: 40%;
    background-color: darkblue;
    border: solid 5px black;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    z-index: 3;
    /* justify-content: space-evenly; */
}
menu{
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.start-game, .rules{
    width: 45%;
}
.choose-red, .choose-yellow{
    width: 45%;
}
.choose-red{
    background: red;
}
.choose-yellow{
    background: yellow;
}
.game-buttons{
    width: 40%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
}
.hidden{
    display: none;
    visibility: none;
}
#start-game, #select-color, #select-mode, #select-difficulty{
    aspect-ratio: 7 / 6;
    width: 40%;
    background-color: #666666;
    margin: 0 auto;
}
.place-piece-button{
    background-color: #666666;
    border: none;
    width: 100%;
    aspect-ratio: 1 / 1;
    z-index: 3;
    margin: -100% auto 0 auto;
    padding: none;
    border-radius: 50%;
}
.piece{
    width: 14%;
    aspect-ratio: 1 / 1;
    z-index: 1;
    border-radius: 50%;
}
.red:hover{
    background: red;
    /* border: 1px solid black; */
}
.yellow:hover{
    background: yellow;
    /* border: 1px solid black; */
}
.tile{
    background-color: white;
    height: 16%;
    width: 14%;
    margin: 0 auto;
    border-radius: 50%;
    
}
.column{
    border: none;
    width: 100%;
    aspect-ratio: 1 / 1;
    z-index: 2;
    margin: 0 auto;
    padding: none;
    border-radius: 50%;
}
.red-piece, .yellow-piece{
    background-color: #666666;
    border: none;
    width: 100%;
    aspect-ratio: 1 / 1;
    z-index: 2;
    margin: 0 auto;
    padding: none;
    border-radius: 50%;
   
}
/* .red-piece:hover{
    background: red;
    border: 1px solid black;
} */
/* .yellow-piece:hover{
    background: yellow;
    /* border: 1px solid black;
} */

